# CP/M-386
# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT
# scspell-id: 786eb492-82b6-11f1-8a70-80ee73e9b8e7
/*~
/*.386
/*.bin
/bss.inc
/*.ci
/*-core
/*.core
/core-*
/cscope.out
/*.elf
/.envrc
/GPATH
/GRTAGS
/GTAGS
/HTML
/*.img
/*.log
/*.lst
/*.lz4
/*.lz4raw
/mk386
/mklz4raw
/NOTES.TXT
/*.o
/os.bin
/p*.md
/README.awk
/README.out
/RES*.md
/RES*.txt
/shole
/staging
/*.su
/tags
/TAGS
/.test.*
/testbdos
/T*.md
