# CP/M-386
# Copyright (c) 2026 Jeffrey H. Johnson <johnsonjh.dev@gmail.com>
# SPDX-License-Identifier: MIT
# scspell-id: 786eb492-82b6-11f1-8a70-80ee73e9b8e7
/*~
/*.386
/*.bin
/bss.inc
/*-core
/*.core
/core-*
/*.elf
/*.img
/*.log
/mk386
/NOTES.TXT
/*.o
/os.bin
/p*.md
/README.awk
/README.out
/RES*.md
/RES*.txt
/shole
/.test.*
/testbdos
/T*.md
