/*~
/*.386
/*.bin
/boot.bin
/bss.inc
/*-core
/*.core
/core-*
/cpm386.bin
/cpm386.elf
/*.img
/*.log
/mk386
/NOTES.TXT
/*.o
/os.bin
/patch_hole
/payload.bin
/p*.md
/ramdisk.bin
/RES*.md
/RES*.txt
/test_bdos
/T*.md
